<p id="notice"><%= notice %></p>

<p>
  <strong>Cat Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @cat.weight %>
</p>

<p>
  <strong>Cage:</strong>
  <%= @cat.cage.name %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
