<!DOCTYPE html>
<html>
<head>
  <title>HelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Employees', employees_path %>
  <%= link_to 'Cages', cages_path %>
  <%= link_to 'Cats', cats_path %>

  <%= yield %>

</body>
</html>
